# Rust
/target
finalOutput
ignore

# VsCode
.vscode

# npm / js
node_modules

bindings
web/api_bindings.ts

# Server
#server

/.idea
node-streamer-proxy/ipc-proxy.log
ipc-proxy.log
/dist1
package-lock.json
web-server.exe
/dist11
