# Rust
/target/debug
/target/flycheck0
finalOutput
ignore

# VsCode
.vscode

# npm / js
node_modules

bindings


# Server
#server

/.idea
node-streamer-proxy/ipc-proxy.log
ipc-proxy.log
/dist1
package-lock.json
web-server.exe
/dist11
*.bak
/node-streamer-proxy/files
/target/debug
/target/release/.fingerprint
/target/release/build
/target/release/deps
*.pdb
node-streamer-proxy/package-lock.json
/dist
*.lock
